/*----------------------------------------------------------*/
// COLORS
/*----------------------------------------------------------*/

$black: #000;
$gray: #969491;
$yellow: #f8b801;
//$blue: #0084b4;
//$blue: #007099;
$blue: #328CAD;

// BREAKPOINTS
$exsmall: 500px;
$small: 768px;
$medium: 992px;
$large: 1200px;