<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="VCU Massey Cancer Center">
    <link rel="icon" href="../../favicon.ico">
    <title>VCU Massey Cancer Center</title>
    <!-- Bootstrap core CSS -->
    <link href="../build/vendor/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../build/css/all.css" rel="stylesheet">
    <!-- Yamm css -->
    <link href="../build/vendor/yamm.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<style>

/*.hero{
    height: 600px;
    background-image: url(../build/images/exterior1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
}*/

body{
  background: #fafafa;
}

.hero-img{
  max-height: 500px;
  margin-top: 97px;
  margin-bottom: 40px;
}
.secondary-nav .container-fluid{
  display: table;
}
.secondary-nav{
    border: 1px solid #ddd;
    top: 97px;
    z-index: 1;
    background: #f0f0f0;
}
.secondary-nav li:hover{
    background: #e0e0e0;
}
.secondary-nav li a{

}
.util-nav{
    background: rgba(0, 0, 0, 0) linear-gradient(to left, #f6b700 0%, #f8f8f8 50%) repeat scroll 0 0
}
.navbar-default .navbar-nav > li > a{
    color: #333;
}

.main-nav{
    background: #f8f8f8;
}
  .action{
    margin-bottom: 0;
    border-radius: 0;
    transition: all 180ms ease-in-out 0s;
  }
  .action:hover{

  }
  .tab-pane ul li{
    margin-right: 0;
  }
  .spotlights-wrapper{
    padding: 0;
  }
.cancer-types{
  background: #fafafa;
}
.cancer-types h2{
  font-family: serif;
  font-style: italic;
  margin-bottom: 20px;
}
.cancer-types .form-control{
  -moz-appearance: none;
}
.cancer-types:hover{
  background: #fafafa;
}
.cancer-types:hover .form-control{
  background: #fafafa;
}
.cancer-types .form-group{
    position: relative;
    margin-bottom: 20px;
}
.cancer-types .fa{
  position: absolute;
  right: 20px;
  top: 10px;
}
.footer-title{

}
</style>

</head>

<body>
    <div id="vcuIdentityWrapper">
        <header id="vcuIdentity">
            <hgroup>
                <h1>
        <a class="logo" href="http://www.vcu.edu" target="_blank" title="Virginia Commonwealth University">Virginia Commonwealth University</a>
        <a class="hidden-lg hidden-md hidden-sm searchLink" href="#"><span aria-hidden="true" class="fa fa-search"></span></a>
      </h1>
                <h2>
        <a href="http://www.makeitreal.vcu.edu" target="_blank" title="VCU Make it real.">Make it real.</a>
      </h2>
            </hgroup>
        </header>
    </div>
    <div class="searchWrap">
        <div class="input-group input-group-lg right-inner-addon searchbox">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="search" class="form-control" placeholder="Search our site ..." />
        </div>
    </div>
    <!-- Static navbar -->
    <nav class="navbar navbar-default util-nav">
        <div class="container">
            <a class="massey-logo" href="#"><img class="hidden-xs" src="../build/images/massey_vert_4color.svg" alt=""><img class="hidden-lg hidden-md hidden-sm" src="../build/images/massey_hz_4color.svg" alt=""></a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class=""><a href="#">About</a></li>
                    <li><a href="#about">Contact</a></li>
                    <li class=""><a href="#">Careers</a></li>
                    <li><a href="#about">Give</a></li>
                    <li class="hidden-xs"><a class="searchLink" href="#"><span aria-hidden="true" class="fa fa-search"></span></a></li>
                </ul>
                <!-- mobile nav -->
                <ul class="nav navbar-nav navbar-right hidden-lg hidden-md hidden-sm">
                    <li><a href="#">Patient Care</a></li>
                    <li><a href="#">Research</span></a></li>
                    <li><a href="#">Education & Training</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">About Massey</a></li>
                            <li><a href="#">Careers at Massey</a></li>
                            <li><a href="#">Support Massey</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="hero">
        <div class="nav-bg">
            <!-- <nav data-spy="affix" data-offset-top="115" class="navbar main-nav hidden-xs"> -->
            <nav class="navbar main-nav hidden-xs yamm" role="navigation">
                <div class="container">
                   <!--  <img class="affix-logo" src="../build/images/massey_hz_4color.svg" alt=""> -->
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown yamm"><a href="#" class="" data-toggle="">Patient Care</a>
                                <ul class="dropdown-menu">
                                    <li class="grid-demo">
                                        <div class="container">
                                            <div class="row">
                                             <div class="col-sm-3 nav-col"><img class="img-responsive" src="../build/images/patient-care.jpg" alt=""></div>
                                                <div class="col-sm-3 col-md-offset-1 nav-col">
                                                    <a href="#">Cancer Types</a>
                                                    <a href="#">Find a Doctor</a>
                                                    <a href="#">Treatment Options</a>
                                                    <a href="#">Become a Patient</a>
                                                    <a href="#">Clinical Trials</a>
                                                </div>
                                                <div class="col-sm-3 nav-col">
                                                    <a href="#">Support & Resources</a>
                                                    <a href="#">Survivorship</a>
                                                    <a href="#">Clinic Locations</a>
                                                    <a href="#">myVCU Patient Portal</a>
                                                </div>
                                                <div class="col-sm-2 nav-col related-links">
                                                    <h3 class="title">Related Links</h3>
                                                    <a href="#">link 1</a>
                                                    <a href="#">link 2</a>
                                                    <a href="#">link 3</a>
                                                </div>
                                            </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown yamm"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Research</a>
                                <ul class="dropdown-menu">
                                    <li class="grid-demo">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3 nav-col"><img class="img-responsive" src="../build/images/dna.jpg" alt=""></div>
                                                <div class="col-sm-3 col-md-offset-1 nav-col nav-col">
                                                    <a href="#">Programs</a>
                                                    <a href="#">Member Directory</a>
                                                    <a href="#">Shared Resources</a>
                                                </div>
                                                <div class="col-sm-3 nav-col">
                                                    <a href="#">News</a>
                                                    <a href="#">Clinical Research Affiliation Network</a>
                                                    <a href="#">Scientific Review Board</a>
                                                </div>
                                                <div class="col-sm-2 nav-col related-links">
                                                    <h3 class="title">Related Links</h3>
                                                    <a href="#">link 1</a>
                                                    <a href="#">link 2</a>
                                                    <a href="#">link 3</a>
                                                </div>
                                            </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown yamm"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Education & Training</a>
                                <ul class="dropdown-menu">
                                    <li class="grid-demo">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3 nav-col"><img class="img-responsive" src="../build/images/education.jpg" alt=""></div>
                                                <div class="col-sm-6 col-md-offset-1 nav-col nav-col">
                                                    <a href="#">Continuing health care professional education</a>
                                                    <a href="#">Health care degree and certificate programs</a>
                                                    <a href="#">Palliative care training</a>
                                                    <a href="#">Pre- and post-doctoral cancer research training</a>
                                                </div>
                                                <div class="col-sm-2 nav-col related-links">
                                                    <h3 class="title">Related Links</h3>
                                                    <a href="#">link 1</a>
                                                    <a href="#">link 2</a>
                                                    <a href="#">link 3</a>
                                                </div>
                                            </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                        <!--/.nav-collapse -->
                        </div>
            </nav>
           

</div>
            <!--/.nav-bg -->
    
            
<nav data-spy="affix" data-offset-top="212" class="navbar navbar-default secondary-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav">
        <li><a href="#">Cancer Types</a></li>
        <li><a href="#">Find a Doctor</a></li>
        <li><a href="#">Treatment Options</a></li>
        <li><a href="#">Become a Patient</a></li>
        <li><a href="#">Clinical Trials</a></li>
        <li><a href="#">Support & Resources</a></li>
        <li><a href="#">Survivorship</a></li>
        <li><a href="#">Clinic Locations</a></li>
        <li><a href="#">myVCU Patient Portal</a></li>
        
      </ul>

  </div><!-- /.container -->
</nav>
             

            <img class="hero-img" src="../build/images/patient-care1.jpg" alt="">
           
            </div> <!-- end hero -->


            <!-- call to action buttons -->
            <!-- <div class="action-buttons">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-3 col-sm-3 action make-appointment">
                          <a href="#">
                              <span>
                                  <i class="fa fa-calendar"></i>
                                  <h2>Make an appointment</h2>
                              </span>
                          </a>
                      </div>
                      <div class="col-md-3 col-sm-3 action find-a-physician">
                          <a href="#">
                              <span>
                                <i class="fa fa-user-md"></i>
                                <h2>Find a physician</h2>
                              </span>
                          </a>
                      </div>
                      <div class="col-md-3 col-sm-3 action patient-portal">
                          <a href="#">
                              <span>
                            <i class="fa fa-user"></i>
                            <h2><el>my<el>VCU PATIENT PORTAL</h2>
                        </span>
                          </a>
                      </div>
                      <div class="col-md-3 col-sm-3 action clinical-trial">
                          <a href="#">
                            <span>
                              <i class="fa fa-search-plus"></i>
                              <h2>Find a clinical trial</h2>
                            </span>
                          </a>
                      </div>
                  </div>
              </div>
            </div> -->
            <!-- /call to action buttons -->

           









            
                <div class="container-fluid border-bottom">
                  <div class="container">
                    
                    <div class="row">
          
                        <h3 class="landing-title text-muted">Patient Care</h2>

                        <p class="lead">Our patients choose VCU Massey Cancer Center for two key reasons: the treatment options we provide and the cancer specialists who provide them.</p>
  
                        <div class="col-md-6">
                          <h3 class="col-title blue">Why choose Massey</h3>
                          <p>We offer the clinical services and advanced treatment options that are only available at a National Cancer Institute-designated cancer center like ours. Massey is one of only two cancer centers in Virginia designated by NCI, and one of only 68 in the United States.</p>

                          <p>We have hundreds of top cancer specialists serving the needs of our patients. Massey’s clinical and research staff provide a wealth of expertise in cancer diagnosis, treatment, prevention and symptom management.</p>

                          <p>Winner of the prestigious Circle of Life award, Massey is a recognized leader in palliative care and one of eight Palliative Care Leadership Centers nationwide.</p>
                        </div>

                        <div class="col-md-6"><img class="img-responsive" src="../build/images/news1B.jpg" alt=""></div>
                    </div> <!-- /row -->

                    <div class="row">
                      <div class="col-md-12">
                        <h3 class="col-title blue">Access to clinical trials</h3>

                        <p>We also offer patients the newest forms of treatment, which are often only available on a study, or clinical trial, basis. Through translational research, our core area of research expertise, we translate our latest laboratory breakthroughs into patient care. Eligible patients may choose to participate in more than 100 clinical trials being offered at any given time.</p>

                        <h3 class="col-title blue">Treatment by multidisciplinary process</h3>

                        <p>At VCU Massey Cancer Center, our patients are treated by multidisciplinary teams, which consist of a variety of cancer specialists across multiple disciplines. Each team collaborates on every case, ensuring the best possible treatment plan for each individual patient. The patient is evaluated by a group of oncologists, surgeons, radiologists, nurse practitioners, therapists and others, all of whom meet on a regular basis.</p>

                        <p>Our patients find all the specialists they need in one convenient location. These specialists work closely together to provide highly coordinated care.</p>

                        <p>Advantages of our multidisciplinary approach include:</p>
    
                        <ul class="list">
                          <li>Multi-specialty consultation in one place, at one time</li>
                          <li>Rapid diagnosis and evaluation for early detection and development of a comprehensive treatment plan</li>
                          <li>Standard treatment options may include surgery, chemotherapy and radiation, hormone and immuno therapies</li>
                          <li>Standard therapies&nbsp;may be combined with state-of-the-art treatment approaches such as minimally invasive ultrasonic laser surgery, microscopic or radio surgery, bone marrow or stem cell transplant, as well as other advanced technologies</li>
                          <li>Opportunities to enroll in clinical trials of promising new treatments and prevention methods</li>
                          <li>Cancer risk evaluation</li>
                          <li>Evaluation for possible cancer recurrence and the need for continued therapy</li>
                          <li>Pain and symptom management and palliative medicine as needed</li>
                          <li>Physical and occupational therapy</li>
                          <li>Counseling for patients and families&nbsp;&nbsp;</li>
                          <li>Resources for cancer patients and families</li>
                        </ul>

                      </div>
                    </div> <!-- /row -->


                  </div><!-- /container -->
                </div><!-- /container-fluid -->
            




            <div class="massey-highlight">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                          <img class="img-responsive best-highlight-img center-block" src="../build/images/besthospitals.png" alt="">
                          <p>Quisque tempus, mi nec imperdiet rhoncus, metus libero porta elit, sed viverra sapien libero sit amet nulla. Etiam accumsan pretium elit eget porta.</p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <img class="img-responsive nci-highlight-img center-block" src="../build/images/ncicc.png" alt="NCI-CC">
                          <p>Quisque tempus, mi nec imperdiet rhoncus, metus libero porta elit, sed viverra sapien libero sit amet nulla. Etiam accumsan pretium elit eget porta.</p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <img class="img-responsive massey-highlight-img center-block" src="../build/images/massey_vert_4color.svg" alt="">
                          <p>Quisque tempus, mi nec imperdiet rhoncus, metus libero porta elit, sed viverra sapien libero sit amet nulla. Etiam accumsan pretium elit eget porta.</p>
                        </div>
                    </div>
                </div>
            </div>
          <div class="massey-testamonials">
            <div class="container">
                <div class="row">
                    <div id="testamonial-carousel" class="carousel fade" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#testamonial-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#testamonial-carousel" data-slide-to="1"></li>
                            <li data-target="#testamonial-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="../build/images/testamonial1.jpg" alt="doc">
                                <div class="carousel-caption">
                                    <h2>Janis Joplin</h2>
                                    <h3 class="testamonial-title">Clinician</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ultricies orci, eget accumsan quam. Ut quis condimentum dui. Aliquam faucibus libero aliquam dui dignissim convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ultricies orci, eget accumsan quam. Ut quis condimentum dui. Aliquam faucibus libero aliquam dui dignissim convallis.</p>
                                    <a href="#" class="read-more">Read more &#10095; </a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../build/images/testamonial2.jpg" alt="doc">
                                <div class="carousel-caption">
                                    <h2>Jimmy Hendrix</h2>
                                    <h3 class="testamonial-title">Researcher</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ultricies orci, eget accumsan quam. Ut quis condimentum dui. Aliquam faucibus libero aliquam dui dignissim convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ultricies orci, eget accumsan quam. Ut quis condimentum dui. Aliquam faucibus libero aliquam dui dignissim convallis.</p>
                                    <a href="#" class="read-more">Read more &#10095; </a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../build/images/testamonial3.jpg" alt="doc">
                                <div class="carousel-caption">
                                    <h2>Nina Simone</h2>
                                    <h3 class="testamonial-title">Patient</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ultricies orci, eget accumsan quam. Ut quis condimentum dui. Aliquam faucibus libero aliquam dui dignissim convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ultricies orci, eget accumsan quam. Ut quis condimentum dui. Aliquam faucibus libero aliquam dui dignissim convallis.</p>
                                    <a href="#" class="read-more">Read more &#10095; </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end carousel -->
                </div>
            </div>
          </div> <!-- /.massey-testamonials -->
            <div class="footer border-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <ul>
                                <li><a class="footer-title" href="#">About Massey</a></li>
                                <li><a href="#">Locations</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Newsroom</a></li>
                                <li><a href="#">Intranet/Employee Login</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <ul>
                                <li><a class="footer-title" href="#">Patient & Cancer Information</a></li>
                                <li><a href="#">Cancer care and support</a></li>
                                <li><a href="#">Appointments & Referrals</a></li>
                                <li><a href="#">Clinical Trials</a></li>
                                <li><a href="#">Visitor Guide</a></li>
                                <li><a href="#">Billing & Insurance</a></li>
                                <li><a href="#">Patient Portal</a></li>
                                <li><a href="#">Physician Directory</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <ul>
                                <li><a class="footer-title" href="#">Research</a></li>
                                <li><a href="#">Clinical Research Affiliation Network</a></li>
                                <li><a href="#">Member Directory</a></li>
                                <li><a href="#">Programs</a></li>
                                <li><a href="#">Shared Resources</a></li>
                                <li><a href="#">Events & Seminars</a></li>
                                <li><a href="#">Funding Opportunities</a></li>
                                <li><a href="#">Oncore Log-in</a></li>
                                <li><a href="#">Scientific Review Board-PRMC</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <ul>
                                <li><a class="footer-title" href="#">Education & Training</a></li>
                                <li><a href="#">Community Outreach & Education</a></li>
                                <li><a href="#">Continuing and Professional Education</a></li>
                                <li><a href="#">Degrees & Certificates</a></li>
                                <li><a href="#">Reasearch Training</a></li>
                                <li><a href="#">Continuing and Professional Education</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.footer -->
            <div class="sub-footer border-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <h3 class="col-title">Contact Us</h3>
                            <address><strong>VCU Massey Cancer Center</strong>
                                <br /> 401 College Street, P.O. Box 980037
                                <br /> Richmond, Virginia 23298-0037</address>
                                <a href="#">Contact Information</a>
                        </div>
                        <div class="col-md-3 col-sm-3" id="social">
                            <h3 class="col-title">Social Media</h3>
                            <a href="https://www.facebook.com/VCUMasseyCancerCenter" class="facebook-link" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                            <a href="http://www.twitter.com/vcumassey" class="twitter-link" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
                            <a href="http://www.youtube.com/teammassey" class="youtube-link" target="_blank" title="YouTube"><i class="fa fa-youtube-square"></i></a>
                            <a href="http://instagram.com/vcumassey" class="instagram-link" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-3" id="policies">
                            <h3 class="col-title">Policies</h3>
                            <a href="http://www.vcu.edu/vcu/privacy-statement.html" target="_blank" title="">Privacy Statement</a>
                            <a href="http://www.assurance.vcu.edu/codeofconduct.html" target="_blank" title="">Code of Conduct</a>
                            <a href="#" target="_blank" title="">Emergency Policy</a>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <a href="http://www.cancer.gov/research/nci-role/cancer-centers" target="_blank"><img class="img-responsive" src="../build/images/ncicc-logo.gif" alt="NCI-CC"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.sub-footer -->
            <div class="copyright border-top">
                <div class="container">
                    <div class="row">
                        <p>© 2015 Virginia Commonwealth University | Last Updated: 05/26/2015</p>
                    </div>
                </div>
            </div>
            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script src="../build/vendor/bootstrap.js"></script>
            <script src="../build/js/all.js"></script>
            <script>
            $('.secondary-nav').affix({
              offset: 
            })
            </script>
</body>

</html>