@import 'variables';
@import 'type';
@import 'header';
@import 'navigation';
@import 'carousel';
@import 'footer';




a{
	color: $blue;
}


.blue{
	color: #328CAD !important;
}

.main-content{
	margin-top: 97px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.b-pad{
	padding-bottom: 40px;
}
/*----------------------------------------------------------*/
// HOME CONTENT
/*----------------------------------------------------------*/

.col-title{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;

	span a{
		float: right;
		text-transform: none;
		color: $blue;
	}
}

.spotlights-wrapper{
	background: #fafafa;
	padding-top: 25px;
	.row{
		margin-top: 20px;
	}
}

.spotlight .embed-responsive, .spotlight img{
	margin-bottom: 20px;
}



.quick-links{
    z-index: 99;
    position: relative;
}
.quick-links .list-group-item {
    border-radius: 0;
    padding: 26px;
}

.quick-links .list-group-item.disabled{
	background: #69B3E7;
	color: #fff;
	border-color: #0e87ab;
	font-size: 16px;
	text-transform: uppercase;
}

.action{
	color: #fff;
	margin-bottom: 20px;
	position: relative;
	height: 85px;
	background: $blue;
    border-radius: 2px;
	a{
		color: #fff;
		&:hover{
			//color: #ccc;
		}
	}
	&:last-child{
		margin-bottom: 0px;
	}
	img{
		position: relative;
		width: 100%;
	}
	span{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 40px 20px;
		display: flex;
		align-items: center;
		-ms-flex-align: center;
    	justify-content: center;
    	-moz-box-pack: center;
    	flex-direction: row;
	}
	.fa{
		font-size: 30px;
		text-align: left;
	}
	h2{
		left: 0;
		margin: 10% auto;
		text-align: center;
		text-transform: uppercase;
		font-size: 18px;
		width: 80%;
		el{
		text-transform: none;
		flex-grow: 2;
		}
	}
}
.make-appointment{
	background: #67c6b4;
	//border-bottom: 5px solid darken(#67c6b4, 10%);
	&:hover{
		background: lighten(#67c6b4, 5%);
	}
}
.find-a-physician{
	background: #60b6d4;
	//border-bottom: 5px solid darken(#60b6d4, 10%);
	&:hover{
		background: lighten(#60b6d4, 5%);
	}
}
.cancer-types{
	background: #778c9a;
	//border-bottom: 5px solid darken(#778c9a, 10%);
	cursor: pointer;
	&:hover{
		background: lighten(#778c9a, 5%);
		.form-control{
			background: lighten(#778c9a, 5%);
			cursor: pointer;
		}
	}
}
.patient-portal{
	background: #b2bb1c;
	//border-bottom: 5px solid darken(#b2bb1c, 10%);
	&:hover{
		background: lighten(#b2bb1c, 5%);
	}
}
.clinical-trial{
	background: #febe10;
	//border-bottom: 5px solid darken(#febe10, 10%);
	&:hover{
		background: lighten(#febe10, 5%);
	}
}
.action .form-group {
    width: 95%;
    position: relative;
    margin: 0;
}
.action .form-control {
	text-align: center;
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
    background: none repeat scroll 0 0 #778c9a;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    // -moz-appearance: none;
    option{
	    background: none repeat scroll 0 0 #fafafa;
	    border-bottom: 1px solid #eee;
	    color: #777;
	    font-size: 14px;
	    padding: 10px;
	    text-align: left;
	    word-wrap: break-word;
    }
}

.border-top{
	border-top: 1px solid #ccc;
}
.border-bottom{
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
}

// .action .fa{
// 		font-size: 70px;
// 		width: 100%;
// 		text-align: center;
// 	}

// .action h2{
// 		left: 0;
// 		width: 80%;
// 		margin: 10px auto;
// 		text-align: center;
// 		text-transform: uppercase;
// 		font-size: 24px;
// 	}


/*----------------------------------------------------------*
* EVENTS AND NEWS TABS
/*----------------------------------------------------------*/

.news-events{
	@media (max-width: $medium) {
			clear: both;
		}
}

.massey-tabs{
	padding-top: 40px;
}
.massey-tabs .nav-pills {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    li:first-child a{
    	padding-left: 0;
    }
}

.nav.nav-pills a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    &:hover{
    	background-color: transparent !important;
    }
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color: transparent !important;
    	border-bottom: 2px solid $blue;
    	color: inherit;
}

.massey-tabs .tab-content {
    height: 150px;
}

.tab-pane ul{
	padding-left: 0;
	li {
	    float: left;
	    list-style: outside none none;
    	margin-right: 10px;
	    //width: 32%;
	    box-sizing: border-box;
	    @media (max-width: $small) {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	a{
		font-size: 1.1em;
		display: block;
		margin-left: 70px;
	}
}
.tab-pane li:last-child{
	margin-right: 0;
}
.news-date{
	display: block;
	position: relative;
	width: 45px;
	float: left;
	margin-right: 15px;
}
.news-date::after{
	content: "";
	background-color: #ccc;
	height: 50px;
	position: absolute;
	top: 10px;
	right: 0;
	width: 1px;
}
#news .news-date{
	width: 55px;
	img{
		width: 100%;
		height: auto;
	}
}
#news .news-date::after{
	background: transparent;
}
.month {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: $gray;
    text-align: left;
    padding-left: 3px;
}

.day {
    font-family: serif;
    font-size: 2.5em;
}
#events > a, #news > a {
    position: absolute;
    right: 15px;
    top: 50px;
}


/*----------------------------------------------------------*
* MASSEY HIGHTLIGHT
/*----------------------------------------------------------*/

.massey-highlight{
	background: #fff;
	padding: 50px 0;
	margin: 0 auto;
	box-sizing: border-box;
	img{
		margin-bottom: 20px;
		max-height: 120px;
	}
}



/*----------------------------------------------------------*
* LISTS
/*----------------------------------------------------------*/

.list li {
    list-style: outside none none;
    margin-bottom: 1em;
    position: relative;
}

.list li::before {
    content: "■";
    font-size: 16px;
    left: -24px;
    position: absolute;
    top: -3px;
    color: $yellow;
}


/*----------------------------------------------------------*
* testing
/*----------------------------------------------------------*/


body{
	background: url("../images/wallpaper2.jpg");
	background-attachment: fixed;
}

// .navbar.main-nav.affix {
//     margin-top: 0;
//     padding-top: 0;
//     top: 0;
//     width: 100%;
//     background: rgba(255, 255, 255, .95);
//     border-bottom: 1px solid #ccc;
// }
// .affix-logo {
// 	display: none;
// }
// .affix .affix-logo{
// 	    display: block;
// 	    position: absolute;
// 	    width: 15%;
// }

.secondary-nav.affix{
	top: 0 !important;
	width: 100%;
}

.cancer-types .form-group select option span::before{
	content: "\f107";
	font-family: FontAwesome;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 20px;
}

.hero-img{
	width: 100%;
	height: auto;
}